/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* global style */
@font-face{
	font-family:amay;
	src:url('/masry7/sites/all/themes/cj/css/fonts/Hacen_Saudi_Arabia.eot');
	src:url('/masry7/sites/all/themes/cj/css/fonts/Hacen_Saudi_Arabia.eot?#iefix') format('embedded-opentype'),
	url('/masry7/sites/all/themes/cj/css/fonts/HacenSaudiArabia.woff') format('woff'),
	url('/masry7/sites/all/themes/cj/css/fonts/Hacen Saudi Arabia.ttf') format('truetype'),
	url('/masry7/sites/all/themes/cj/css/fonts/HacenSaudiArabia.svg#svgFontName') format('svg');
}
body{
	background-color:#d9dadd;
	font-family: Arial, sans-serif;
	font-size:14px;
}
a{
	color:#336699;
	text-decoration:none;
}
a:hover{
	color:#000;
}
input:hover,textarea:hover{
	background-color:#f4fffe;
}
/* tables style */
table{
	width:100%;
	border-collapse: collapse;
	font-size: 13px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	margin:0 0 10px;
}
table, tbody, tfoot, thead, tr, th, td{
	vertical-align:middle;
}
th{
	padding: 8px;
	font-weight: normal;
	font-size: 14px;
	background: #b7e1ff;
}
td{
	padding: 8px;
	background: #e2f3ff;
	border-top: 1px solid #fff;
	color: #669;
}
tbody tr:hover td{
	background: #f9fcff;
}
th.active img{
	margin:0 10px;
}
td.active{
	background-color:#eff8ff;
}
/* global rules */
.clear{
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.joinUS a{
	background-image:url(../images/ar/joinUSred.gif);
	background-repeat:no-repeat;
	background-position:right 0;
	display: inline;
    padding-right:59px;
	padding-bottom:5px;
	line-height:20px;
}
.addNew{
	display:block;
	width:112px;
	background-image:url(../images/ar/create-news.gif);
	background-position:0 0;
	height:31px;
	line-height:90px;
	overflow:hidden;
}
.addNew.sm{
	width:70px;
	background-position:0 -30px;
	height:19px;
}
.mb5{
	margin-bottom:5px;
}
.mb10{
	margin-bottom:10px;
}
/* column1 style */
.column1{
	margin-bottom:20px;
}
.column1 .views-field.views-field-field-media{
	text-align:center;
	margin-bottom:10px;
	display:block;
}
.column1 .views-field.views-field-field-media img{
	max-width:180px;
}
.column1 .views-field.views-field-field-rating{
	margin-top:10px;
}
/* media block style */
.mediaBlock{
	margin:10px 0;
	border-top:1px dotted #999;
	padding-top:10px;
	overflow:hidden;
}
.mediaBlock .views-field-body{
	font-size:12px;
}
.mediaBlock .mediaList li{
	float:right;
	margin:17px;
}
.mediaBlock .mediaList li a{
	display:block;
	line-height:0;
	font-size:0;
}
.mediaBlock .mediaList li a:hover{
	outline:2px solid #8599A8;
}
/* theme overwrite */
.views-exposed-form label{
	margin-bottom:5px;
}
.profile h3{
	margin-bottom:10px;
	padding-bottom:5px;
}
.view-header,.view-footer{
	margin-bottom:10px
}
form .field-multiple-table th.field-label{
	padding:10px 10px 0;
}
.form-item .description{
	padding:5px 0;
}
/* buttons style */
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	border-radius:0;
	border: 1px solid #ccc;
	cursor: pointer;
	color: #999;
	font-family:amay,verdana,helvetica,sans-serif;
	outline:0;
	overflow:visible;
	padding:10px 25px;
	text-shadow:none;
	width: auto;
	margin-left:5px;/*RTL*/
	transition: background 1s;
	-moz-transition: background 1s; /* Firefox 4 */
	-webkit-transition: background 1s; /* Safari and Chrome */
	-o-transition: background 1s; /* Opera */
}
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
	background:#000;
}
/**
 * Markup generated by theme_menu_local_tasks().
 */
ul.primary {
	margin:0px;
	margin-top:4px;
	padding:0;
}
ul.primary li {
	display: inline;
}
ul.primary li a {
	background-color:#d5e6f2;
	padding:0;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	padding:3px 3px 0;
}
ul.primary li.active a {
	background-color: #fff;
}
ul.primary li a:hover {
	background-color: #fff;
}
/* container style */
#page{
	background-color:#fff;
	width:960px;
	margin:0 auto;
	border-top:5px solid #cc0000;
}
/* header */
#section-header{
	background-color:#8599a8;
	background-image:url(../images/page-bg.gif);
	background-repeat:no-repeat;
	background-position:top right;
	padding-top:15px;
	border-bottom:13px solid #d9dadd;
}
/* user login */
.region-user-first,.region-user-first a{
	color:#000;
	font-size:10px;
}
.region-user-first #user-login-form .form-item{
	float:right;
	margin:0 10px;
}
.region-user-first #user-login-form .form-item input{
	padding:5px;
	width:130px;
	border:0;
	height:auto;
	margin:2px 0;
}
.region-user-first #user-login-form .item-list{
	clear:both;
}
.region-user-first #user-login-form .item-list li,.region-user-first #user-login-form .form-actions.form-wrapper{
	float:right;
	margin:9px;
}
.region-user-first #user-login-form .form-actions.form-wrapper input{
	background:#000;
	border:0;
	color:#fff;
	padding:5px;
	-webkit-border-radius: 0px;
    border-radius: 0px;
	text-shadow:none;
	margin:0;
}
/* header menu */
#region-menu .navigation{
	overflow:hidden;
}
#region-menu .navigation li{
	margin:5px;
	padding:0;
	float:right;
}
#region-menu .navigation li a{
	background-color:#fff;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	padding:5px 10px;
	color:#999;
	font-size:13px;
	display:block;
}
#region-menu .navigation li a:hover{
	color:#000;
	background-color:#ccc;
}
#region-menu .navigation li.menu-218 a{
	background-image:url(../images/header-menu-icons.png);
	background-repeat:no-repeat;
	background-position:center center;
	text-indent:-9999px;
	direction:ltr;
	text-align:left;
	width:10px;
}
/* header menu */
#region-menu{
	padding-bottom:20px;
	margin-top:-25px;
}
/* header first ( ad campaign ) */
.not-logged-in #region-header-first{
	padding-top:20px;
}
#region-header-first{
	margin-bottom:-13px;
}
#region-header-first .region-inner.region-header-first-inner{
	background-color:#fff;
	-webkit-box-shadow:  0px -7px 7px 0px rgba(0,0,0,0.2);
	box-shadow:  0px -7px 7px 0px rgba(0,0,0,0.2);
	padding:10px;
	width:762px;
	margin:0 auto;
	position:relative;
}
#region-header-first .block-campagins-block  .view-content .views-row.views-row-1.views-row-last{
	overflow:hidden;
}
#region-header-first .views-field.views-field-field-image{
	float:right;
	border:#000 dotted;
	border-width:1px 0;
	line-height:0;
}
#region-header-first .views-field.views-field-description{
	float:left;
	width:380px;
}
#region-header-first .views-field.views-field-description .desc{
	padding-top:10px;
	border-top:1px dotted #000;
	margin-top:10px;
	margin-bottom:10px;
}
#region-header-first .view-footer{
	clear:both;
}
/* menu */
#region-header-first #block-menu-menu-header-menu{
	position:absolute;
	right:-8%;
	top:18%;
	z-index:2;
}
#region-header-first #block-menu-menu-header-menu ul li{
	list-style:none;
	padding:0;
	margin:0 0 5px 0;
}
#region-header-first #block-menu-menu-header-menu ul li a{
	font-family:amay,verdana,helvetica,sans-serif;
	display:block;
	padding:10px 20px;
	background-color:#fff;
	color:#000;
	text-align:center;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	transition: box-shadow 0.5s;
	-moz-transition: box-shadow 0.5s; /* Firefox 4 */
	-webkit-transition: box-shadow 0.5s; /* Safari and Chrome */
	-o-transition: box-shadow 0.5s; /* Opera */
	border:2px solid #fff;
}
#region-header-first #block-menu-menu-header-menu ul li a:hover,#region-header-first #block-menu-menu-header-menu ul li a.active{
	background-color:#8599A8;
	border:2px solid #8599A8;
	-webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
#region-header-first #block-menu-menu-header-menu ul li a.active{
	border:2px solid #000;
	background-color:#a1b5c4;
}
/* suggest link */
#region-header-first .block-campagins-block .view-footer{
	float:left;
	margin-top: -60px;
}
#region-header-first .block-campagins-block .view-footer a{
	float:left;
	background-image:url(../images/suggest.gif);
	background-repeat:no-repeat;
	width:195px;
	height:61px;
	line-height:64px;
	font-size:18px;
	text-align:right;
	padding-left:185px;
	text-align:center;
	font-family:amay,verdana,helvetica,sans-serif;
	color:#fff;
	transition: box-shadow 0.5s;
	-moz-transition: box-shadow 0.5s; /* Firefox 4 */
	-webkit-transition: box-shadow 0.5s; /* Safari and Chrome */
	-o-transition: box-shadow 0.5s; /* Opera */
}
#region-header-first .block-campagins-block .view-footer a:hover{
	-webkit-box-shadow:  -0 0 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow:  0 0 3px 2px rgba(0, 0, 0, 0.2);
}
/* content area */
#section-content #region-content{
	padding-top:10px;
}
/* view homepage media blocks */
.pane-homepage-media-blocks{
	padding-bottom:20px;
}
.pane-homepage-media-blocks .pane-title{
	font-family:amay,verdana,helvetica,sans-serif;
	display:inline;
	padding:0 10px;
	margin:0 10px;
	background-color:#fff;
	position:relative;
	z-index:2;
}
.pane-homepage-media-blocks .pane-content{
	border-top:1px solid #ccc;
	padding-top:20px;
	padding-bottom:20px;
	position:relative;
	margin-top:-10px;
	z-index:1;
}
.pane-homepage-media-blocks .view-footer a{
	font-size:15px;
}
.pane-homepage-media-blocks.Latest-Contributions .pane-title,.pane-homepage-media-blocks.Latest-Contributions .view-footer a{
	color:#996666;
}
.pane-homepage-media-blocks.Most-Viewed .pane-title,.pane-homepage-media-blocks.Most-Viewed .view-footer a{
	color:#cc9966;
}
.pane-homepage-media-blocks.Editors-Choice .pane-title,.pane-homepage-media-blocks.Editors-Choice .view-footer a{
	color:#669900;
}
.pane-homepage-media-blocks.Latest-Contributions .joinUS a{
	background-image:url(../images/ar/joinUSlightred.gif);
}
.pane-homepage-media-blocks.Most-Viewed .joinUS a{
	background-image:url(../images/ar/joinUSorange.gif);
}
.pane-homepage-media-blocks.Editors-Choice .joinUS a{
	background-image:url(../images/ar/joinUSgreen.gif);
}
/* view campagins page & view campagin page */
.view-campagins.view-id-campagins.view-display-id-page_1 .views-row,
.view-campagins.view-id-campagins.view-display-id-page_2 .views-row{
	margin-bottom:20px;
	overflow:hidden;
}
.view-campagins.view-id-campagins.view-display-id-page_1 .views-row .views-field.views-field-field-image,
.view-campagins.view-id-campagins.view-display-id-page_2 .views-row .views-field.views-field-field-image{
	float:right;
	padding-left:10px;
	background-color:#fff;
}
.view-campagins.view-id-campagins.view-display-id-page_1 .views-row .views-field.views-field-description,
.view-campagins.view-id-campagins.view-display-id-page_2 .views-row .views-field.views-field-description{
	padding-top:10px;
	border-top:1px dotted #000;
	margin-top:10px;
	font-size:13px;
}
/* User tools */
.front .panel-pane.pane-block.pane-block-1{
	margin-bottom:10px;
}
.front .panel-pane.pane-block.pane-block-1 .pane-content{
	overflow:hidden;
}
.usert{
	background-image:url(../images/user-tools.gif);
	background-repeat:no-repeat;
	float:left;
	width:75px;
	height:66px;
	text-align:left;
	direction:ltr;
	text-indent:-9999999px;
	overflow:hidden;
	margin-right:106px;
}
.usert:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.usert.Feedback{
	background-position:-76px 0px;
}
.usert.Newsletter{
	background-position:-151px 0px;
}
.usert.Mobile{
	background-position:-226px 0px;
	margin:0;
}
/* side bar */
#region-sidebar-first .block{
	margin-bottom:10px;
}
#region-sidebar-first .region-inner.region-sidebar-first-inner{
	padding:10px 0;
}
/* side bar latest news block */
#block-views-almasry-alyoum-feed-block .block-inner{
	margin:10px 0;
}
#block-views-almasry-alyoum-feed-block .head{
	font-family:amay,verdana,helvetica,sans-serif;
	background-image:url(../images/latest-news-head.gif);
	background-repeat:no-repeat;
	background-position:center top;
	color:#fff;
	height:34px;
	line-height:25px;
	text-align:center;
	font-size:12px;
	margin-bottom:10px;
}
#block-views-almasry-alyoum-feed-block .head a{
	color:#ffcc00;
}
#block-views-almasry-alyoum-feed-block .views-field.views-field-author{
	display:none;
}
#block-views-almasry-alyoum-feed-block .views-field.views-field-description{
	color:#535353;
	font-size:12px;
	margin:10px 0;
	overflow:hidden;
	line-height:14px;
}
#block-views-almasry-alyoum-feed-block .views-field.views-field-description img{
	float:right;
	margin-left:10px;
	border:1px solid #cacaca;
	line-height:0;
	font-size:0;
}
#block-views-almasry-alyoum-feed-block .attachment.attachment-after{
	margin:10px 0;
}
#block-views-almasry-alyoum-feed-block .attachment.attachment-after .views-row{
	background-color:#f0f0f0;
	border-top:1px dotted #888;
	padding:10px;
}
#block-views-almasry-alyoum-feed-block .attachment.attachment-after .views-row a{
	font-weight:bold;
	font-size:13px;
}
#block-views-almasry-alyoum-feed-block .attachment.attachment-after .views-row.views-row-even {
	background-color:#e7e7e7;
}
#block-views-almasry-alyoum-feed-block .attachment.attachment-after .views-row.views-row-last{
	border-bottom:1px dotted #888;
}
/* contact us page */
#contact-site-form input,#contact-site-form textarea{
	margin-top:5px;
	width:100%;
	border:1px solid #999;
}
#contact-site-form input:focus,#contact-site-form textarea:focus{
	border:1px solid #000;
}
/* labels */
.page-node-add-contribution .form-item label,.page-node-42 .form-item label{
	margin-bottom:10px;
}
/* pens & opinions block */
#block-views-01afcc20886ecc0456ab94e67838d229 .head{
	font-family:amay,verdana,helvetica,sans-serif;
	background-image:url(../images/latest-news-head.gif);
	background-repeat:no-repeat;
	background-position:center top;
	color:#fff;
	height:34px;
	line-height:25px;
	text-align:center;
	font-size:12px;
	background-color:#f0f0f0;
}
#block-views-01afcc20886ecc0456ab94e67838d229 .head a{
	color:#ffcc00;
}
#block-views-01afcc20886ecc0456ab94e67838d229 .views-row.views-row-first{
	border-top:0;
}
#block-views-01afcc20886ecc0456ab94e67838d229 .views-row{
	background-color:#f0f0f0;
	border-top:1px dotted #888;
	padding:10px;
	overflow:hidden;
}
#block-views-01afcc20886ecc0456ab94e67838d229 .views-row a{
	font-weight:bold;
	font-size:13px;
}
#block-views-01afcc20886ecc0456ab94e67838d229 .views-row.views-row-even {
	background-color:#e7e7e7;
}
#block-views-01afcc20886ecc0456ab94e67838d229 .views-row.views-row-last{
	border-bottom:1px dotted #888;
}
#block-views-01afcc20886ecc0456ab94e67838d229 .views-field.views-field-author{
	font-family:amay,verdana,helvetica,sans-serif;
	font-size:11px;
}
#block-views-01afcc20886ecc0456ab94e67838d229 .views-field.views-field-description{
	float:right;
	margin-left:10px;
}
#block-views-01afcc20886ecc0456ab94e67838d229 .views-field.views-field-description img{
	border:1px solid #cacaca;
	line-height:0;
	font-size:0;
}
#block-views-01afcc20886ecc0456ab94e67838d229 .views-field.views-field-title{
	margin-bottom:5px;
}
/* footer ads */
.block.block-google-admanager{
	text-align:center;
}
/* Campaign page */
#CampaignPage .view-campagins.view-id-campagins{
	padding:10px 0;
}
#CampaignPage .view-campagins.view-id-campagins .views-row{
	overflow:hidden;
}
#CampaignPage .view-campagins.view-id-campagins .views-field.views-field-field-image{
	float:right;
	padding-left:10px;
	background-color:#fff;
}
#CampaignPage .view-campagins.view-id-campagins .views-field.views-field-description{
	padding-top:10px;
	border-top:1px dotted #000;
	margin-top:10px;
	font-size:13px;
}

#CampaignPage .panel-pane.pane-views.pane-term-media{
	margin:10px 0;
}
#CampaignPage .panel-pane.pane-views.pane-term-media .pane-content .view-content{
	border:solid #ccc;
	border-width:1px 0;
	overflow:hidden;
	margin:10px 0;
}
#CampaignPage .panel-pane.pane-views.pane-term-media .pane-content .views-row{
	float:right;
	width:299px;
	padding:10px 0;
	min-height:340px;
}
#CampaignPage .panel-pane.pane-views.pane-term-media .pane-content .views-row.views-row-odd{
	border-left:1px solid #ccc;
	padding-left:10px;
}
#CampaignPage .panel-pane.pane-views.pane-term-media .pane-content .views-row.views-row-even{
	padding-right:10px;
}
#CampaignPage .panel-pane.pane-views.pane-term-media .pane-content .views-row .views-field.views-field-field-media{
	margin-bottom:10px;
}
#CampaignPage .panel-pane.pane-views.pane-term-media .pane-content .views-row .views-field.views-field-field-media .youtube-player{
	width:298px !important;
	max-width:none !important;
}
#CampaignPage .panel-pane.pane-views.pane-term-media .pane-content .views-row .views-field.views-field-field-media img{
	width:100% !important;
}
/* create contribution */
.page-node-add-contribution .region-inner.region-content-inner{
	margin:40px;
	border:1px solid #ccc;
	padding:30px;
	position:relative;
}
.page-node-add-contribution .region-inner.region-content-inner #page-title{
	font-family:amay,verdana,helvetica,sans-serif;
	font-size:25px;
	position:absolute;
	top:-18px;
	right:2%;
	background-color:#fff;
	padding:10px;
	color:#999;
}
.page-node-add-contribution .region-inner.region-content-inner .form-type-textfield input{
	border:1px solid #ccc;
	padding:15px;
}
.page-node-add-contribution .region-inner.region-content-inner #body-add-more-wrapper .filter-wrapper.form-wrapper,
.page-node-add-contribution .region-inner.region-content-inner #body-add-more-wrapper .ckeditor_links,
.page-node-add-contribution .region-inner.region-content-inner .field-type-file.field-name-field-media.field-widget-media-generic.form-wrapper .tabledrag-toggle-weight-wrapper{
	display:none !important;
}
/* post page*/
.node-type-contribution .panel-panel.panel-col-top .panel-separator{
	display:none;
}
.node-type-contribution .panel-panel.panel-col-top{
	background-image:url(../images/post-page-border-tr.png);
	background-repeat:no-repeat;
	background-position:100% 0%;
}
.node-type-contribution .panel-panel.panel-col-top .inside{
	padding:30px;
	background-image:url(../images/post-page-border-tl.png);
	background-repeat:no-repeat;
	background-position:0% 0%;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-entity-field.pane-node-body{
	margin:0 -30px -30px;
	background-image:url(../images/post-page-border-bl.png);
	background-repeat:no-repeat;
	background-position:0% 100%;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-entity-field.pane-node-body .pane-content{
	padding:30px;
	background-image:url(../images/post-page-border-br.png);
	background-repeat:no-repeat;
	background-position:100% 100%;
}

.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-created#nodeCreatedTime{
	background-image:url(../images/ar/time-arrow.png);
	background-repeat:no-repeat;
	background-position:0% 100%;
	padding-left:8px;
	height:16px;
	line-height:16px;
	font-size:9px;
	margin-left:15px;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-created#nodeCreatedTime .pane-content{
	background-color:#cc0000;
	color:#fff;
	padding:0 5px;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-title{
	font-size:30px;
	margin-bottom:15px;
	margin-top:-5px;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-title,
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-created#nodeCreatedTime,
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-created#nodeCreatedDate,
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-token.pane-node-total-count{
	float:right;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-created#nodeCreatedDate,
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-token.pane-node-total-count,
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-token.pane-node-total-count .pane-title{
	font-family:amay,verdana,helvetica,sans-serif;
	font-size:11px;
	font-weight:normal;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-token.pane-node-total-count{
	margin-right:20px;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-token.pane-node-total-count .pane-title,
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-token.pane-node-total-count .pane-content{
	display:inline;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-token.pane-node-total-count .pane-content{
	color:#cc0000;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-links{
	overflow:hidden;
	margin-bottom:10px;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-links,
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-links ul li{
	float:left;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-author{
	padding-top:10px;
	border-top:1px dotted #999;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-author a{
	padding-right:20px;
	background-image:url(../images/ar/author-arrow.gif);
	background-repeat:no-repeat;
	background-position:100% 0%;/*RTL*/
	color:#cc0000;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-entity-field.pane-node-body{
	font-size:17px;
	line-height:25px;
}
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-created#nodeCreatedDate,
.node-type-contribution .panel-panel.panel-col-top .panel-pane.pane-node-author{
	clear:both;
}
/* home campaigns */
.page-home .panel-pane.pane-views.pane-campagins .pane-title{
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px dotted #ccc;
}
.page-home .panel-pane.pane-views.pane-campagins .views-row {
	margin-bottom:20px;
	overflow:hidden;
}
.page-home .panel-pane.pane-views.pane-campagins .views-field.views-field-field-image{
	float: right;
	padding-left: 10px;
	background-color: white;
}
.page-home .panel-pane.pane-views.pane-campagins .views-field.views-field-description{
	padding-top: 10px;
	border-top: 1px dotted black;
	margin-top: 10px;
	font-size: 13px;
}